/* .visor_bg {
    background-image: url("../assets/png/—Pngtree—mountain background pixel scene_6021586.png"); 
    background-size: cover;
    background-repeat: repeat-y;
    background-position-y: 0px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* .grayBackground1 {
    animation: grayBackground1 4s forwards;
}

.grayBackground2 {
    animation: grayBackground2 4s forwards;
}

.grayBackground3 {
    animation: grayBackground3 4s forwards;
} */

/* @keyframes grayBackground1 {
    from {
        filter: grayscale(0%);
    }
    to {
        filter: grayscale(100%);
    }
}

@keyframes grayBackground2 {
    from {
        filter: grayscale(100%);
    }
    to {
        filter: grayscale(50%);
    }
}

@keyframes grayBackground3 {
    from {
        filter: grayscale(50%);
    }
    to {
        filter: grayscale(0%);
    }
} */

/* .container_visor {
    position: relative;
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 0;
    background-color: rgb(175, 226, 255);
    border: 10px solid black;
    overflow: hidden;
} */

/* .graySky {
    animation: graySky 2s forwards;
} */

/* .orangeSky {
    animation: orangeSky 4s forwards;
} */

/* .blueSky {
    animation: blueSky 4s forwards;
} */

/* .initialSky {
    animation: initialSky 4s forwards;
} */

/* @keyframes initialSky {
    from {
        background-color: rgb(175, 226, 255);
    }
    to {
        background-color: black;
    }
} */

/* @keyframes graySky {
    from {
        background-color: black;
    }
    to {
        background-color: grey;
    }
} */

/* @keyframes orangeSky {
    from {
        background-color: grey;
    }
    to {
        background-color: rgb(115, 131, 141);
    }
} */

/* @keyframes blueSky {
    from {
        background-color: rgb(115, 131, 141);
    }
    to {
        background-color: rgb(175, 226, 255);
    }
} */

/* .container__clouds--1 {
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 0;
    height: 150px;
} */

/* .infinite_animation {
    animation: clouds 60s linear infinite;
    animation-delay: -15s;
} */

/* @keyframes clouds {
    from {
        transform: translateX(+900px);
    }
    to {
        transform: translateX(-200px);
    }
} */

/* @keyframes mountainAnimation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
} */

/* .main_visor {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
} */

.main__button {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 400px;
}

.button__image {
    width: 120px;
    height: 100px;
}

/* .largeTitleFont {
    font-family: pixelThaleah;
    font-size: 5em;
    position: absolute;
    color: yellow;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
    letter-spacing: 20px;
    text-align: center;
    display: block;
    width: 100%;
    top: 20px;
} */

/* .smallTitleFont {
    font-family: pixelThaleah;
    font-size: 4em;
    position: absolute;
    color: yellow;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    letter-spacing: 10px;
    text-align: center;
    display: block;
    width: 100%;
    top: 200px;
} */
